<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Add card</title>

        <link rel="stylesheet" type="text/css" href="lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>

    <body>
        <div class="ui five column grid">
            <div class="row"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                
                <!-- <form class="ui form" id="addCardForm" action="http://vps.cpe-sn.fr:8083/card" method="post" form> -->
                <form class="ui form" id="addCardForm" th:action="@{/addcard}" th:object="${cardForm}" method="POST">

                    <h3 class="ui dividing header">Add Card Form</h3>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" id="name" placeholder="name" th:field="*{name}">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <input type="text" name="description"   id="description" placeholder="desc" th:field="*{description}">
                    </div>
                    
                    <div class="field">
                        <label>Image URL</label>
                        <input type="text" name="imgUrl" id="imgUrl" placeholder="image" th:field="*{imgUrl}">
                    </div>
                    <div class="field">
                        <label for="family">Family:</label>
                        <select name="family" id="family" th:field="*{family}">
                            <option value="">Choisir une famille</option>
                            <option value="dog">Happy tree friends</option>
                            <option value="cat">Cat</option>
                            <option value="hamster">Hamster</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="family-select">Affinity:</label>
                        <select name="affinity" id="affinity" th:field="*{affinity}">
                            <option value="">Choisir une classe</option>
                            <option value="fire">Fire</option>
                            <option value="water">Water</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="slider1">HP:</label>
                        <input type="range" min="0" max="100" value="50" class="slider" id="hp" oninput="document.getElementById('value1').innerHTML = this.value" th:field="*{hp}">
                        <span id="value1">50</span>
                        <br><br>
                        <label for="slider2">Energy:</label>
                        <input type="range" min="0" max="100" value="75" class="slider" id="energy" oninput="document.getElementById('value2').innerHTML = this.value" th:field="*{energy}">

                        <span id="value2">75</span>
                        <br><br>
                        <label for="slider3">Attack:</label>
                        <input type="range" min="0" max="100" value="25" class="slider" id="attack" oninput="document.getElementById('value3').innerHTML = this.value" th:field="*{attack}">
                        <span id="value3">25</span>

                        <br><br>
                        <label for="slider4">Defense</label>
                        <input type="range" min="0" max="100" value="25" class="slider" id="defence" oninput="document.getElementById('value4').innerHTML = this.value" th:field="*{defense}">
                        <span id="value4">25</span>
                    </div>

                
                    
                    <button class="ui button" type="reset" >Cancel</button>
                    <!-- <button class="ui button" class="submit" onclick="sendData()">Submit</button> -->
                    <button class="ui button" type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </body>
    <!-- <script src="js/addCard.js"></script>  -->
</html>