/* Appliquer un arrière-plan et une couleur de texte aux éléments du formulaire */
.ui.form {
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Styliser les étiquettes */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  /* Styliser les champs de saisie */
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  /* Styliser le bouton OK */
  .btn-submit {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
  
  .btn-submit:hover {
    background-color: #3e8e41;
    cursor: pointer;
  }
  
  /* Styliser le bouton Cancel */
  .btn-back {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
  
  .btn-back:hover {
    background-color: #d32f2f;
    cursor: pointer;
  }
  
  /* Styliser le bouton Register */
  .btn-register {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
  }
  
  .btn-register:hover {
    background-color: #0d47a1;
    cursor: pointer;
  }
  